mat-form-field {
  font-size: 12px;
  width: 100%;
}

:host {

  .cabecera {
    display: flex;
    justify-content: space-between;
  }

  .contenido-formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;

  }

}
