:host {

      .cabecera {
        display: flex;
        justify-content: space-between;
      }
    
    .mat-expansion-panel-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 30px;
      border-radius: inherit;
      background: #039be5 !important;
    }

    }
    
    
    
   
    