@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

// :host {
//       .cabecera {
//         display: flex;
//         justify-content: space-between;
//       }

//     .mat-expansion-panel-header {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       padding: 0 30px;
//       border-radius: inherit;
//       background: #039be5 !important;
//     }
// }


.viewer-body {
  margin-top: -9px;
  margin-right: -24px !important;
  margin-left: -24px !important;
}
