@import "../src/@shared/scss/style_ua";
:host {
  
  .row-hover{
    cursor: pointer;
    background: #DFE5EF !important;
    color: #000000 !important;
    font-weight: bold;
    font-size: 14px;
  }
  
  .titulo-recurso-partida{
    background-color: #D3E1EE;
    font-weight: bold;
  }
  
}

  ::ng-deep .formato-tooltip-recurso {
    background-color: black !important;
    color: white;
    font-size: 18px;
    width: auto !important;
  }

  ::ng-deep .bloque-input {
    color: #9E9B9B;
  }

 