@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

.page-vehiculo {
  .table-resultados {
    .table-container {
      max-height: 500px;
    }
  }
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    disposicionFinal: (
      width: 12rem
    ),
    nroDocSustentatorio: (
      width: 12rem
    ),
    fecha: (
      width: 9rem
    ),
    estado: (
      width: 9rem
    ),
    totalBienes: (
      width: 6rem
    ),
    opt: (
      width: 3rem
    )
  )
);
