<div class="page">
  <!-- <ng4-loading-spinner [timeout]="300000"></ng4-loading-spinner> -->
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
      <mat-panel-title>
        BUSQUEDA DESLIZADORES
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-cuerpo">
      <form *ngIf="bandejaGrp" [formGroup]="bandejaGrp" class="example-container">
        <mat-grid-list cols="12" rowHeight="50px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
            <mat-form-field appearance="outline">
              <mat-label>Unidad</mat-label>
              <mat-select formControlName="unidad" (selectionChange)="cargarTambos()">
                <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                  {{unidad.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
            <mat-form-field appearance="outline">
              <mat-label>Tambo</mat-label>
              <mat-select formControlName="tambo">
                <mat-option *ngFor="let tambo of tambos" [value]="tambo">
                  {{tambo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
            <mat-form-field appearance="outline">
              <mat-label>Codigo patrimonio</mat-label>
              <input matInput placeholder="Codigo patrimonio">
            </mat-form-field>
          </mat-grid-tile>
          <!-- <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}" *ngIf="getUser.perfil.id==3"> -->
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
            <mat-form-field appearance="outline">
              <mat-label>Fecha inicio busqueda</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Fecha inicio busqueda">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <!-- <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}" *ngIf="getUser.perfil.id==3"> -->
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
            <mat-form-field appearance="outline">
              <mat-label>Fecha fin busqueda</mat-label>
              <input matInput [matDatepicker]="picker2" placeholder="Fecha fin busqueda">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="btnRigth">
        <button mat-raised-button color="primary" (click)="buscar()">
          <mat-icon>search</mat-icon>
          <strong> BUSCAR</strong>
        </button>
        <!-- <button mat-raised-button (click)="regVehiculo(null)">
          <mat-icon>add_box</mat-icon>
          <strong> NUEVO VEHICULO</strong>
        </button> -->
        <button mat-raised-button (click)="exportarExcel()">
          <mat-icon><img class="icono" src="assets/images/ua/excel.png"></mat-icon>
          <strong> EXPORTAR A EXCEL</strong>
        </button>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-card class="table-resultados">
    <mat-card-header>
      <mat-card-title> LISTA DE DESLIZADORES: </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-container">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{ i+1 }} </td>
          </ng-container>

          <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
            <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
          </ng-container>

          <ng-container matColumnDef="opt" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
              OPCIONES
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="alerta preventivo Lubricantes" (click)="regLubricante(element)">
                <mat-icon matBadge="!" matBadgeColor="warn">
                  <img class="icono" src="assets/images/ua/lubricante.png">
                </mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="empty" *ngIf="dataSource === null">
          No existe datos para mostrar en la tabla
        </div>

        <!-- <mat-card *ngIf="isLoading" class="spinerTable">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </mat-card> -->

        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>