<div class="page">
  <mat-toolbar class="mat-primary mat-dialog-header">
    <span>{{data.title}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <h4 class="center">N°{{nroSolFondoEncargo}}/MIDIS-PNPAIS-{{abrevUT}}{{abrevGIT}}/{{abrevNombre}}</h4>
    <form [formGroup]="formularioGrp">
      <h4 style="margin-bottom: 5px;">Datos del responsable del encargo</h4>
      <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Nombres del responsable</mat-label>
            <input matInput formControlName="nombresResponsable" placeholder="Nombres del responsable" [appUpperCase]>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 8, lg: 8, xl: 8}">
          <mat-form-field appearance="outline">
            <mat-label>Apellidos del responsable</mat-label>
            <input matInput formControlName="apellidosResponsable" placeholder="Apellidos del responsable"
              [appUpperCase]>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>DNI del responsable</mat-label>
            <input matInput formControlName="dniResponsable" placeholder="DNI del responsable">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Unidad</mat-label>
            <mat-select formControlName="unidad">
              <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                {{unidad.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Cargo responsable</mat-label>
            <input matInput formControlName="cargoResponsable" placeholder="Cargo responsable" [appUpperCase]>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="75px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-form-field appearance="outline">
            <mat-label>Justificacion</mat-label>
            <textarea matInput formControlName="justificacion" placeholder="Justificacion"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Fecha solicitud</mat-label>
            <input matInput formControlName="fechaSolicitud" [matDatepicker]="picker" placeholder="Fecha solicitud">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Fecha inicio periodo ejecucion</mat-label>
            <input matInput formControlName="fecInicioEjecucion" [matDatepicker]="picker2"
              placeholder="Fecha inicio periodo ejecucion">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Fecha fin periodo ejecucion</mat-label>
            <input matInput formControlName="fecFinEjecucion" [matDatepicker]="picker3"
              placeholder="Fecha fin periodo ejecucion">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <h4 style="margin-bottom: 5px;">Informacion bancaria para abono del fondo por encargo</h4>
      <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="outline">
            <mat-label>Nombre del banco</mat-label>
            <input matInput formControlName="nombreBanco" placeholder="Nombre del banco" [appUpperCase]>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 8, lg: 8, xl: 8}">
          <mat-form-field appearance="outline">
            <mat-label>N° de CCI</mat-label>
            <input matInput formControlName="cciCuenta" placeholder="N° de CCI">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="105px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-form-field appearance="outline">
            <mat-label>Declaracion del responsable</mat-label>
            <textarea matInput formControlName="declaracionResponsable" placeholder="Declaracion del responsable"
              rows="4"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

    <mat-card class="box-filtros">
      <mat-card-header class="box-section-header">
        <mat-card-title class="box-section-title"> Detalles de bienes y/o servicios objeto del fondo por encargo
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="detFormularioGrp">
          <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Mnemonico</mat-label>
                <mat-select formControlName="mnemonico">
                  <mat-option *ngFor="let mnemonico of mnemonicos" [value]="mnemonico">
                    {{mnemonico.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Clasificador gasto</mat-label>
                <mat-select formControlName="clasificadorGasto">
                  <mat-option *ngFor="let clasificadorGasto of clasificadoresGasto" [value]="clasificadorGasto">
                    {{clasificadorGasto.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Nombre bien o servicio</mat-label>
                <input matInput formControlName="nombrebnss" type="text" placeholder="Nombre bien o servicio"
                  [appUpperCase]>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Unidad medida</mat-label>
                <input matInput formControlName="unidadMedida" type="text" placeholder="Unidad medida" [appUpperCase]>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad" placeholder="Cantidad">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Precio unitario</mat-label>
                <input matInput formControlName="precioUnitario" placeholder="Precio unitario">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
              <mat-form-field appearance="outline">
                <mat-label>Monto</mat-label>
                <input matInput formControlName="monto" placeholder="Monto">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}" class="dialog-form-actions">
              <button mat-raised-button color="primary" type="button" (click)="agregar()">Agregar</button>
              <button mat-raised-button type="button" (click)="limpiar()">Limpiar</button>
            </mat-grid-tile>
          </mat-grid-list>
        </form>

        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
              <td mat-cell *matCellDef="let row; let i =index"> {{ i+1 }} </td>
            </ng-container>

            <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
              <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div class="empty" *ngIf="dataSource === null">
            No existe datos para mostrar en la tabla
          </div>

          <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="button" (click)="vista()">Vista previa</button>
    <button mat-raised-button color="primary" type="button" (click)="guardar()">Guardar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Salir</button>
  </div>
</div>