mat-form-field {
  font-size: 12px;
  width: 100%;
}

:host {
  td {
    font-size: 13px;
  }

  th {
    font-size: 15px !important;
  }

  .color-td {
    font-weight: bold;
    text-align: center;
    background-color: #03A9F4;
    color: #F4F4F4;
  }

  .content {
    position: relative;
    margin-top: 6px;

    button.action {
      position: absolute;
      top: -20px;
      right: 10px;
      z-index: 1;
    }

    button.action-exportar {
      position: absolute;
      top: -20px;
      right: 55px;
      z-index: 1;
      background-color: #087f23;
    }

  }
}

::ng-deep .formato-tooltip {
  color: rgb(255, 255, 255) !important;
  background-color: red !important;
  font-size: 14px;
  width: 20em;
  //white-space: pre;
}

::ng-deep .formato-tooltip {
  background-color: black !important;
  color: white;
  font-size: 18px;
  width: auto !important;
}

::ng-deep .red-snackbar {
  color: #ffffff !important;
  background-color: #af4448 !important;
}

::ng-deep body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight {
  background-color: #0287C3;
  color: #ffffff;
}

::ng-deep body .ui-table .ui-table-tbody>tr.ui-state-highlight {
  background-color: #0287C3;
  color: #ffffff;
}
