@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";


:host {
  .page {
    .table-resultados {
      .table-container {
        max-height: 560px;
      }
    }

    table {
      th.mat-header-cell {
        border: 1px solid #ccc;
        padding: 0 !important;
      }
    }

    .filtros {
      mat-expansion-panel {
        margin: 10px 0;
        border-radius: 0;

        mat-expansion-panel-header mat-panel-title {
          display: flex;
          align-content: center;
        }
      }
    }

    .spinerTable {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      right: 0 !important;
      position: sticky;
      bottom: 0px;
      left: 0px;
      .mat-progress-spinner {
        width: 50px !important;
        height: 50px !important;
        svg {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

    .empty {
      padding: 20px;
      text-align: center;
      position: sticky;
      bottom: 0px;
      left: 0px;
      font-size: 0.8em;
      font-weight: 500;
      color: #005e82;
    }

    .bandeja {
      position: relative;
      margin-top: 10px;
      padding: 16px;
    }

    .mat-row:hover {
      background-color: #dfe5ef;
      .mat-cell, .mat-footer-cell {
        font-weight: bold;
        }
    }

    button:hover mat-icon {
      font-size: 36px !important;
    }

    .mat-icon {
      font-size: 30px !important;
    }

    .estilo-cabecera-tabla {
      color: black;
      font-weight: 600;
      background-color: #d3e1ee;
      text-align: center;
    }
  }

  @include mat-table-columns(
    (
      colitem: (
        width: 2rem
      ),
      colnroCodigo: (
        width: 3rem
      ),
      colnroConvenio: (
        width: 9rem
      ),
      coltambo: (
        width: 5rem
      ),
      colinicioObra: (
        width: 9rem
      ),
      colampliacionPlazo: (
        width: 5rem
      ),
      coldiasRetraso: (
        width: 4rem
      ),
      colterminoObra: (
        width: 5rem
      ),
      colplazoEjecucionReal: (
        width: 4rem
      ),
      colavanceFisicoProgramado: (
        width: 10rem
      ),
      avanceFisicoProgramado: (
        width: 10rem
      ),
      avanceFisicoEjecutado: (
        width: 1rem
      ),
      colavanceFinanciero: (
        width: 5rem
      ),
      colestado: (
        width: 6rem
      ),
      colprestandoServicio: (
        width: 5rem
      ),
      colacciones: (
        width: 15rem
      )
    )
  );
}

.paginacion-right{
  display: inline !important;
}

.mat-toolbar-fondo{
  background: #fff;
}

::ng-deep .formato-tooltip {
  background-color: black !important;
  color: white;
  font-size: 18px;
  width: auto !important;
}
