<div class="page">

  <mat-accordion class="filtros">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
        <mat-panel-title>
          <img src="assets/images/busqueda.png" width="26px" height="26px"><strong style="color: white;">FILTROS DE
            BÚSQUEDA</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="mat-expansion-panel-cuerpo">
        <div [formGroup]="filtrosForm">
          <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
              <mat-form-field appearance="outline">
                <mat-label>TAMBO</mat-label>
                <input matInput formControlName="tamboFrmCtrl">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
              <mat-form-field appearance="outline">
                <mat-label>N° CÓDIGO</mat-label>
                <input matInput formControlName="codigoFrmCtrl">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
              <mat-form-field appearance="outline">
                <mat-label>N° CONVENIO</mat-label>
                <input matInput formControlName="convenioFrmCtrl">
              </mat-form-field>
            </mat-grid-tile>
            <!-- <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
              <mat-form-field appearance="outline">
                <mat-label>CRP</mat-label>
                <input matInput formControlName="convenioFrmCtrl">
              </mat-form-field>
            </mat-grid-tile> -->
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 3, xl: 3}" class="dialog-form-actions">
              <button mat-mini-fab (click)="buscarPerfilPrefactibilidad($event)" >
                <mat-icon matTooltip="Buscar proyecto" matTooltipClass="formato-tooltip">search</mat-icon>
              </button>
              <button mat-mini-fab class="mat-grey-300-bg" (click)="reiniciar()">
                <mat-icon matTooltip="Limpiar filtros de búsqueda" matTooltipClass="formato-tooltip">clear_all
                </mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="bandeja mat-elevation-z6 ">
    <div class="table-container clear-both">

      <table mat-table [dataSource]="dataSource">

        <!-- DEFINICION NIVEL 1 abajo -->
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [ngStyle]="{'display': 'none'}"> ITEM</th>
          <td mat-cell *matCellDef="let prefac" style="cursor:pointer;height: 40px !important;"
            (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.item}} </td>
        </ng-container>

        <ng-container matColumnDef="nroCodigo">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [ngStyle]="{'display': 'none'}"> NÚMERO
            <br> CÓDIGO </th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.codigo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nroConvenio">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [ngStyle]="{'display': 'none'}"> NÚMERO
            <br> CONVENIO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)"> {{prefac.convenio}}
          </td>
        </ng-container>

        <ng-container matColumnDef="tambo">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}"> NOMBRE DE <br>
            TAMBO</th>
          <td mat-cell *matCellDef="let prefac"
            matTooltip="Creaciòn del Centro de Servicios Tambo en el Centro Poblado Quille - Omacha"
            matTooltipClass="formato-tooltip" (click)="datosGenerales(prefac.idProyecto)" style="text-align: center;color:#0000FF;cursor:pointer;" >
            {{prefac.tambo}} </td>
        </ng-container>

        <ng-container matColumnDef="inicioObra">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;">INICIO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;">{{prefac.fechaInicio}}
          </td>
        </ng-container>

        <ng-container matColumnDef="planEjecucion">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;">PLAZO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.numPlazo}}</td>
        </ng-container>

        <ng-container matColumnDef="ampliacionPlazo">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">AMPLIACIÓN DE <br>
            PLAZO DE EJECUCIÓN <br>DE OBRA</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.ampliacionPlazo}} </td>
        </ng-container>

        <ng-container matColumnDef="diasRetraso">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">DÍAS DE <br>
            RETRASO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.diasRetraso}} </td>
        </ng-container>

        <ng-container matColumnDef="terminoObra">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">TÉRMINO DE <br>
            EJECUCIÓN DE OBRA <br> PROGRAMADO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;background-color: yellow;"
            (click)="datosGenerales(prefac.idProyecto)"> {{prefac.fechaFinProgramado}} </td>
        </ng-container>

        <ng-container matColumnDef="plazoEjecucionReal">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">DÍAS
            <br>TRANSCURRIDOS</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.diasTranscurridos}} </td>
        </ng-container>

        <ng-container matColumnDef="avanceFisicoProgramado">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;">PROGRAMADO
          </th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;"
            (click)="datosGenerales(prefac.idProyecto)"> {{prefac.avanceFisProgramado}} </td>
        </ng-container>

        <ng-container matColumnDef="avanceFisicoEjecutado">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;">EJECUTADO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;background-color: green;" (click)="datosGenerales(prefac.idProyecto)">
            {{prefac.avanceFisEjecutado}} </td>
        </ng-container>

        <ng-container matColumnDef="avanceFinanciero">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">AVANCE <br>
            FINANCIERO</th>
          <td mat-cell *matCellDef="let prefac" style="text-align: center;cursor:pointer;" (click)="datosGenerales(prefac.idProyecto)">
            30%
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">ESTADO</th>

          <td mat-cell *matCellDef="let prefac">
            <span *ngIf="prefac.cidEstado == '001'"
              style="color: rgb(199, 0, 0); font-weight: 500; font-family:Arial, Helvetica, sans-serif">
              {{prefac.estado}}
            </span>
            <span *ngIf="prefac.cidEstado != '001'" style="color:black">
              {{prefac.estado}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="prestandoServicio">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [ngStyle]="{'display': 'none'}">
            PRESTANDO<br>SERVICIO</th>
          <td mat-cell *matCellDef="let prefac" (click)="datosGenerales(prefac.idProyecto)" style="text-align: center;">
            {{prefac.prestandoServicio}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [ngStyle]="{'display': 'none'}">ACCIONES
          </th>
          <td mat-cell *matCellDef="let prefac">

            <!-- <div *ngIf="prefac.cidEstado == '001'"> -->
              <div>
              <button mat-icon-button color="primary" (click)="descargarDocumentos(prefac.idCodigo)"
                matTooltip="Descargar documentos" matTooltipClass="formato-tooltip">
                <mat-icon>save_alt</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="verCronograma(prefac.idCodigo)" matTooltip="Cronogramas"
                matTooltipClass="formato-tooltip">
                <mat-icon>library_books</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="verCotizaciones(prefac.idProyecto)"
                matTooltip="Autorización de gasto" matTooltipClass="formato-tooltip">
                <mat-icon>assignment</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="bandejaTrabajador(prefac.idCodigo)"
                matTooltip="Trabajador" matTooltipClass="formato-tooltip">
                <mat-icon>person_add</mat-icon>
              </button>

              <button mat-icon-button color="primary" matTooltip="Pre liquidación" matTooltipClass="formato-tooltip">
                <mat-icon>attach_money</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Liquidación" matTooltipClass="formato-tooltip">
                <mat-icon>attach_money</mat-icon>
              </button>
            </div>
            <div *ngIf="(prefac.cidEstado == '002' ||  prefac.cidEstado == '003' || prefac.cidEstado == '004')">
              <button mat-icon-button color="primary" (click)="descargarDocumentos(prefac.idCodigo)"
                matTooltip="Descargar documentos">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- DEFINICION NIVEL 2 arriba  -->
        <ng-container matColumnDef="colitem">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [attr.rowspan]="2"> ITEM</th>
        </ng-container>

        <ng-container matColumnDef="colnroCodigo">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [attr.rowspan]="2"> NÚMERO <br> CÓDIGO
          </th>
        </ng-container>

        <ng-container matColumnDef="colnroConvenio">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [attr.rowspan]="2"> NÚMERO <br> CONVENIO
          </th>
        </ng-container>

        <ng-container matColumnDef="coltambo">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2"> NOMBRE DE <br>TAMBO</th>
        </ng-container>

        <ng-container matColumnDef="colinicioObra">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.colspan]="2">EJECUCIÓN <br>DE OBRA </th>
        </ng-container>

        <ng-container matColumnDef="colampliacionPlazo">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">AMPLIACIÓN <br> DE PLAZO <br> DE EJECUCIÓN <br>DE OBRA</th>
        </ng-container>

        <ng-container matColumnDef="coldiasRetraso">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">DÍAS DE <br>RETRASO</th>
        </ng-container>

        <ng-container matColumnDef="colterminoObra">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">TÉRMINO DE <br> EJECUCIÓN DE OBRA <br> PROGRAMADO</th>
        </ng-container>

        <ng-container matColumnDef="colplazoEjecucionReal">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">DÍAS <br>TRANSC.</th>
        </ng-container>

        <ng-container matColumnDef="colavanceFisicoProgramado">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.colspan]="2">AVANCE <br>FÍSICO</th>
        </ng-container>

        <ng-container matColumnDef="colavanceFinanciero">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">AVANCE <br>FINANCIERO</th>
        </ng-container>

        <ng-container matColumnDef="colestado">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">ESTADO</th>
        </ng-container>

        <ng-container matColumnDef="colprestandoServicio">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" style="text-align: center;"
            [attr.rowspan]="2">PRESTANDO<br>SERVICIO</th>
        </ng-container>

        <ng-container matColumnDef="colacciones">
          <th mat-header-cell *matHeaderCellDef class="estilo-cabecera-tabla" [attr.rowspan]="2">ACCIONES</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="[
      'colitem', 
      'colnroCodigo', 
      'colnroConvenio', 
      'coltambo', 
      'colinicioObra', 
      'colampliacionPlazo',
      'coldiasRetraso',
      'colterminoObra',
      'colplazoEjecucionReal',
      'colavanceFisicoProgramado', 
      'colavanceFinanciero', 
      'colestado', 
      'colprestandoServicio', 
      'colacciones']">
        </tr>

        <tr mat-header-row *matHeaderRowDef="columnas;"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>

      <div class="empty" *ngIf="!isLoading && dataSource === null">
        No existe datos para mostrar en la tabla
      </div>

      <div *ngIf="isLoading" class="spinerTable">
        <mat-progress-spinner [diameter]="35" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <!-- <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator> -->

    </div>
  </div>

</div>