<div class="page">
  <mat-toolbar class="mat-primary mat-dialog-header">
    <span>{{data.title}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="requerimiento.idEstadoRequerimiento>1">
        <ng-template matStepLabel>Requerimiento</ng-template>
        <div>
          <form [formGroup]="formularioGrp1">
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Unidad</mat-label>
                  <mat-select formControlName="unidad">
                    <mat-option *ngFor="let unid of unidades" [value]="unid">
                      {{unid.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 8, lg: 8, xl: 9}">
                <mat-form-field appearance="outline">
                  <mat-label>Asunto</mat-label>
                  <input formControlName="asuntoRequerimiento" matInput type="text" placeholder="Asunto" [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo presupuesto</mat-label>
                  <mat-select formControlName="tipoDocAnexo">
                    <mat-option *ngFor="let tipoDocAnexo of tiposDocsAnexo" [value]="tipoDocAnexo">
                      {{tipoDocAnexo.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}"
                *ngIf="formularioGrp1.get('tipoDocAnexo').value.id==1 || formularioGrp1.get('tipoDocAnexo').value.id==2">
                <mat-form-field appearance="outline">
                  <mat-label>Documento EETT</mat-label>
                  <input formControlName="nomTdrEett" matInput type="text" placeholder="Documento EETT">
                  <!-- <button mat-icon-button matTooltip="Buscar documento" type="button" class="btn-icon-input" color="primary" (click)="buscarTdrEett($event)" [disabled]="getUser.perfil.id == 3 || requerimiento.idEstadoRequerimiento!=1"> -->
                  <button mat-icon-button matTooltip="Buscar documento" type="button" class="btn-icon-input"
                    color="primary" (click)="buscarTdrEett($event)" [disabled]="requerimiento.idEstadoRequerimiento!=1">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <input id="fileTdrEett" class="none" type="file" accept="application/pdf"
                    (change)="cargarTdrEett($event)">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}"
                *ngIf="formularioGrp1.get('tipoDocAnexo').value.id==3">
                <mat-form-field appearance="outline">
                  <mat-label>Documento fondo encargo</mat-label>
                  <input formControlName="nroFondoEncargo" matInput type="text" placeholder="Documento fondo encargo">
                  <!-- <button mat-icon-button matTooltip="Elaborar solicitud fondo encargo" type="button" class="btn-icon-input" color="primary" (click)="solFondoEncargo()" [disabled]="getUser.perfil.id == 3 || requerimiento.idEstadoRequerimiento!=1"> -->
                  <button mat-icon-button matTooltip="Elaborar solicitud fondo encargo" type="button"
                    class="btn-icon-input" color="primary" (click)="solFondoEncargo()"
                    [disabled]="requerimiento.idEstadoRequerimiento!=1">
                    <mat-icon>add_box</mat-icon>
                  </button>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Cotizacion requerimiento</mat-label>
                  <input formControlName="cotizacion" matInput type="number" placeholder="Cotizacion requerimiento">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Nro Hoja tramite</mat-label>
                  <input formControlName="nroHt" matInput type="text" placeholder="Nro Hoja tramite">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Nro Informe</mat-label>
                  <input formControlName="nroInforme" matInput type="text" placeholder="Nro Informe">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Documentacion de requerimiento</mat-label>
                  <input formControlName="documentacion" matInput type="text"
                    placeholder="Documentacion de requerimiento">
                  <!-- <button mat-icon-button matTooltip="Buscar documento" type="button" class="btn-icon-input" color="primary" (click)="buscarRequerimiento($event)" [disabled]="getUser.perfil.id == 3 || requerimiento.idEstadoRequerimiento!=1"> -->
                  <button mat-icon-button matTooltip="Buscar documento" type="button" class="btn-icon-input"
                    color="primary" (click)="buscarRequerimiento($event)"
                    [disabled]="requerimiento.idEstadoRequerimiento!=1">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <input id="fileRequerimiento" class="none" type="file" accept="application/pdf"
                    (change)="cargarRequerimiento($event)">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </div>
        <div align="center" class="button-separate">
          <button mat-raised-button type="button" (click)="salir()">Salir</button>
          <button mat-raised-button type="button" (click)="guardar()">Guardar</button>
          <button mat-raised-button type="button" (click)="siguiente(stepper)">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="true">
        <ng-template matStepLabel>Orden Compra/Res. Administracion</ng-template>
        <div>
          <form [formGroup]="formularioGrp2">
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Orden servicio/Res. Administracion</mat-label>
                  <input formControlName="ordenServicio" matInput type="text"
                    placeholder="Orden servicio/Res. Administracion">
                  <button mat-icon-button matTooltip="Buscar doc. asignacion presupuestal" type="button"
                    class="btn-icon-input" color="primary" (click)="buscarOrdenServicio($event)">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo presupuesto</mat-label>
                  <mat-select formControlName="tipoPresupuesto">
                    <mat-option *ngFor="let tipoPresupuesto of tiposPresupuesto" [value]="tipoPresupuesto">
                      {{tipoPresupuesto.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 3}">
                <mat-form-field appearance="outline">
                  <mat-label>Monto asignacion</mat-label>
                  <input formControlName="monto" matInput type="number" placeholder="Monto asignacion">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
          <h4 style="margin-bottom: 5px;">Detalle afectacion presupuestal</h4>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource2" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
                <td mat-cell *matCellDef="let row; let i=index"> {{ i+1 }} </td>
              </ng-container>

              <ng-container *ngFor="let column of columnsGrilla2" [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
                <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>

            <div class="empty" *ngIf="dataSource2 === null">
              No existe datos para mostrar en la tabla
            </div>

            <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div align="center" class="button-separate">
          <button mat-raised-button type="button" (click)="salir()">Salir</button>
          <button mat-raised-button type="button" (click)="guardar()">Guardar</button>
          <button mat-raised-button type="button" (click)="anterior(stepper)">Anterior</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>