:host {

  .cabecera {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }
  }

  mat-accordion.filtros {
    display: flex;
    flex-direction: column;

    mat-expansion-panel {
      border-radius: 0 !important;

      h4 {
        margin-left: 60px;
      }

      &.mat-expanded {
        h4 {
          margin-left: 0 !important;
        }
      }

      #formulario {
        display: flex;
        flex-direction: column;

        @media(max-width: 990px) {
          .inputs {
            display: flex;
            flex-direction: column;
          }
        }

        .inputs {
          display: flex;
    
          mat-form-field {
            flex: 1;
            padding-right: 10px;
          }
    
          mat-form-field.no-padding {
            padding-right: 0 !important;
          }
        }
    
        .filtrar {
          display: flex;
          justify-content: center;
    
          button:first-of-type {
            margin-right: 10px;
          }
        }

      }
    }
  }

  mat-card.contenido {
    border-radius: 0;
    position: relative;
    padding-top: 25px;

    button#nuevo {
      position: absolute;
      top: -28px;
      z-index: 2;
    }

    table {
      width: 100%;

      tr.editando, tr.editando td {
        background-color: beige !important;
      }

      tr.editando td button.no-existe {
        color: #0000004d;
      }

      tr.colapso {
        visibility: collapse;

        &.mostrar {
          visibility: visible;
        }
      }

      td .fecha {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 500;
      }

      td.mat-column-acciones {
        width: 150px;
      }

      th.mat-header-cell, td.mat-cell {
        text-align: center;
      }

      .mat-column-detalle {
        background-color: #00000017;
        padding: 20px;

        table {
          font-size: 11px;
        }

        table tbody tr td span {
          display: none;
        }

        table.historial tr td  {
          border-bottom: 0.5px solid darkgrey;
        }

        @media(max-width: 990px) {

          table.historial {
            width:100%;
          }

          table.historial thead {
            display: none;
          }

          table.historial tbody tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
          }

          table.historial tbody tr td {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          
          table.historial tbody tr td span {
            display: block;
            font-weight: 500;
            width: 100px;
          }
        }
      }
    }
  }
}