<div class="page">
 <!-- CABECERA -->
 <mat-toolbar class="mat-primary mat-dialog-header">
  <span>CUADRO COMPARATIVO DE SOLICITUD DE COTIZACIÓN N° 001-2019</span>
   <button tabindex="-1" mat-icon-button (click)="dialogRef.close()">
      <mat-icon>clear</mat-icon>
  </button> 
</mat-toolbar>
<!-- CABECERA -->

  <!-- BANDEJA -->
<!-- 
  <div class="inputs" [formGroup]="filtrosForm" fxLayout.xl="row" fxLayout.lg="row">
    <div class="contenido-formulario">
      <div class="columna">        
          <mat-form-field appearance="outline"  style="padding-left: 10px;">
             <mat-label>Ruc:</mat-label>
                <input matInput formControlName="rucFrmCtrl" value="">
          </mat-form-field>

          <button mat-mini-fab (click)="buscarProveedor()" matTooltip="Buscar Provvedor" style="margin-top: 10px;">
            <mat-icon>add</mat-icon>
          </button>
      </div>
    </div>
  </div> -->
 <div mat-dialog-content>
<div class="bandeja"> 
  
    <table mat-table [dataSource]="dataSource">
  
     <!--  <ng-container matColumnDef="checked">
        
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> ITEM</th>
        <td mat-cell *matCellDef="let insumo">

            <span *ngIf= "insumo.unidad != ''">
                <mat-checkbox [(ngModel)]="insumo.checked" (click)="$event.stopPropagation()"
                  (change)="$event ? seleccionarCotizacion(insumo) : null"
                  [checked]="selectionCotizacion.isSelected(insumo)">
                </mat-checkbox>
            </span> 
        
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="checkedAux">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ITEM</th>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>  -->

      <ng-container matColumnDef="recurso">
        <th mat-header-cell *matHeaderCellDef > RECURSO </th>
        <td mat-cell *matCellDef="let insumo" style="text-align: left !important;">    
       <!--    <span *ngIf= "insumo.unidad == ''" style="font-weight: 600; font-size: 15px;">
              {{insumo.recurso}}
          </span>  -->

          <span *ngIf= "insumo.unidad != ''" style="padding-left: 10px;">
              {{insumo.recurso}}
          </span> 
        </td>
        <td mat-footer-cell *matFooterCellDef><b> TOTAL DE COTIZACIÓN : </b></td>
      </ng-container> 

     <!--  <ng-container matColumnDef="insumoAux">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="1">RECURSO</th>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>  -->
  
       <ng-container matColumnDef="unidad">
        <th mat-header-cell *matHeaderCellDef > UNID. </th>
        <td mat-cell *matCellDef="let insumo"> {{insumo.unidad}}</td>
        <td  mat-footer-cell *matFooterCellDef>  </td > 
      </ng-container>

     <!--  <mat-form-field floatLabel="never">
          <input matInput placeholder="Unid" [value]="insumo.unidad" [(ngModel)]="insumo.unidad">
        </mat-form-field> -->
     

   <!--    <ng-container matColumnDef="unidadAux">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="1">UNID.</th>
          <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>  -->
  
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>CANTIDAD </th>
        <td mat-cell *matCellDef="let insumo" >{{insumo.cantidad}}
           <!--  <mat-form-field  appearance="outline" floatLabel="never">
                <input matInput  [value]="insumo.cantidad" [(ngModel)]="insumo.cantidad">
            </mat-form-field> -->
        </td>
        <td mat-footer-cell *matFooterCellDef>  </td>

      </ng-container>

   <!--    <ng-container matColumnDef="cantidadAux">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="1">CANTIDAD</th>
          <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>  -->
  
      <ng-container matColumnDef="marcaProv01">
        <th mat-header-cell *matHeaderCellDef style="width: 12% !important;">MARCA</th>
        <td mat-cell *matCellDef="let insumo">
            <mat-form-field  appearance="outline" floatLabel="never" style="width: 80% !important;">
                <input matInput  [value]="insumo.marcaProv01" [(ngModel)]="insumo.marcaProv01">
            </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <ng-container matColumnDef="precioUnitarioProv01">
        <th mat-header-cell *matHeaderCellDef>PRECIO <br> UNIT. (S/.)</th>
        <td mat-cell *matCellDef="let insumo"> 
            <mat-form-field  appearance="outline" floatLabel="never">
                <input matInput  [value]="insumo.precioUnitarioProv01" [(ngModel)]="insumo.precioUnitarioProv01">
            </mat-form-field>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <ng-container matColumnDef="subTotalProv01">
        <th mat-header-cell *matHeaderCellDef>SUB TOTAL<br>(S/.)</th>
        <td mat-cell *matCellDef="let insumo"> {{insumo.subTotalProv01}} </td>
        <td  mat-footer-cell *matFooterCellDef style="text-align: center;"><b>S/. 10500.00</b></td > 
      </ng-container>

      <ng-container matColumnDef="marcaProv02">
        <th mat-header-cell *matHeaderCellDef style="width: 12% !important;">MARCA</th>
        <td mat-cell *matCellDef="let insumo">
            <mat-form-field  appearance="outline" floatLabel="never" style="width: 80% !important;">
                <input matInput  [value]="insumo.marcaProv02" [(ngModel)]="insumo.marcaProv02">
            </mat-form-field> 
         </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <ng-container matColumnDef="precioUnitarioProv02">
        <th mat-header-cell *matHeaderCellDef>PRECIO <br> UNIT. (S/)</th>
        <td mat-cell *matCellDef="let insumo"> 
            <mat-form-field  appearance="outline" floatLabel="never">
                <input matInput  [value]="insumo.precioUnitarioProv02" [(ngModel)]="insumo.precioUnitarioProv02">
            </mat-form-field> 
        </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <ng-container matColumnDef="subTotalProv02">
        <th mat-header-cell *matHeaderCellDef>SUB TOTAL<br>(S/.)</th>
        <td mat-cell *matCellDef="let insumo"> {{insumo.subTotalProv02}} 
           
         </td>
        <td  mat-footer-cell *matFooterCellDef style="text-align: center;"><b>S/. 12500.00</b></td > 

      </ng-container>

      <ng-container matColumnDef="marcaProv03">
        <th mat-header-cell *matHeaderCellDef style="width: 12% !important;">MARCA</th>
        <td mat-cell *matCellDef="let insumo">
            <mat-form-field  appearance="outline" floatLabel="never" style="width: 80% !important;">
                <input matInput  [value]="insumo.marcaProv03" [(ngModel)]="insumo.marcaProv03">
            </mat-form-field> 
        </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <ng-container matColumnDef="precioUnitarioProv03">
        <th mat-header-cell *matHeaderCellDef>PRECIO <br> UNIT. (S/)</th>
        <td mat-cell *matCellDef="let insumo"> 
            <mat-form-field  appearance="outline" floatLabel="never">
                <input matInput  [value]="insumo.precioUnitarioProv03" [(ngModel)]="insumo.precioUnitarioProv03">
            </mat-form-field>
          </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <ng-container matColumnDef="subTotalProv03">
        <th mat-header-cell *matHeaderCellDef>SUB TOTAL<br>(S/.)</th>
        <td mat-cell *matCellDef="let insumo"> {{insumo.subTotalProv03}} </td>
        <td  mat-footer-cell *matFooterCellDef style="text-align: center;"><b>S/. 9500.00</b></td > 
      </ng-container> 

      <ng-container matColumnDef="header-proveedor0">
        <th mat-header-cell *matHeaderCellDef 
            [style.text-align]="center"
            [attr.colspan]="3"> 
        
        </th>
      </ng-container> 
 
      <ng-container matColumnDef="header-proveedor1">
        <th mat-header-cell *matHeaderCellDef 
            [style.text-align]="center"
            [attr.colspan]="3"> 
          <div style="background: #E5E5E5; font-size: 11px;">{{proveedor.nombreRazonSocial}}</div>  
            <br> 
            <mat-form-field appearance="outline" [formGroup]="filtrosForm" class="ruc_textfield">
              <mat-label>RUC</mat-label>
              <input solonumero matInput formControlName="rucFrmCtrl1" maxlength="11" (keyup.enter)="wsSunat()">
              <mat-icon matSuffix style="cursor:pointer;" (click) = "editarProveedor()" >edit</mat-icon>
            </mat-form-field>
         
            <label>{{estadoSunat}}</label>
            <label style="padding-left: 10px;">{{habidoSunat}}</label>

          <br> 
          <input type="file" style="display: none" #fileInput1 (change)="onChangeFileInput1()" />
          
          <button matTooltip="Adjuntar cotización" color="primary" mat-mini-fab class="btn_agregar" (click)="onClickFileInputButton1()"
          class="boton-adjuntar-cotizacion">  
             <mat-icon>attach_file</mat-icon>
           </button>
       
          <p class="file-name"  *ngIf="!file1; else fileName"></p>
          <ng-template #fileName>
            <p class="file-name" style="text-align: left;">{{ file1?.name }}</p>
          </ng-template>
        </th>
      </ng-container> 
    
     <ng-container matColumnDef="header-proveedor2">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> 
         
          <div style="background: #E5E5E5; font-size: 11px;">{{proveedor.nombreRazonSocial2}}</div>  
            <br> 
            <mat-form-field appearance="outline" [formGroup]="filtrosForm" class="ruc_textfield">
              <mat-label>Ruc</mat-label>
              <input solonumero matInput formControlName="rucFrmCtrl2" maxlength="11"  (keyup.enter)="wsSunat2()">
              <mat-icon matSuffix style="cursor:pointer;" >edit</mat-icon>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Activo</mat-radio-button>
              <mat-radio-button value="2" style="padding-left: 5px;">Inactivo</mat-radio-button>
            </mat-radio-group>

          <br> 
          <input type="file" style="display: none" #fileInput2 (change)="onChangeFileInput2()" />
          
          <button matTooltip="Adjuntar cotización" color="primary" mat-mini-fab class="btn_agregar" (click)="onClickFileInputButton2()"
          class="boton-adjuntar-cotizacion">
             <mat-icon>attach_file</mat-icon>
           </button>
       
          <p class="file-name"  *ngIf="!file2; else fileName"></p>
          <ng-template #fileName>
            <p class="file-name" style="text-align: left;">{{ file2?.name }}</p>
          </ng-template>
        </th>
      </ng-container>


      <ng-container matColumnDef="header-proveedor3">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> 
            <div style="background: #E5E5E5; font-size: 11px;">{{proveedor.nombreRazonSocial3}}</div>  
            <br> 
            <mat-form-field appearance="outline" [formGroup]="filtrosForm" class="ruc_textfield">
              <mat-label>Ruc</mat-label>
              <input solonumero matInput formControlName="rucFrmCtrl3" maxlength="11"  (keyup.enter)="wsSunat3()">
              <mat-icon matSuffix style="cursor:pointer;" >edit</mat-icon>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Activo</mat-radio-button>
              <mat-radio-button value="2" style="padding-left: 5px;">Inactivo</mat-radio-button>
            </mat-radio-group>

          <br> 
          <input type="file" style="display: none" #fileInput3 (change)="onChangeFileInput3()" />
          
          <button matTooltip="Adjuntar cotización" color="primary" mat-mini-fab class="btn_agregar" (click)="onClickFileInputButton3()"
             class="boton-adjuntar-cotizacion">
             <mat-icon>attach_file</mat-icon>
           </button>
       
          <p class="file-name"  *ngIf="!file3; else fileName"></p>
          <ng-template #fileName>
            <p class="file-name" style="text-align: left;">{{ file3?.name }}</p>
          </ng-template>
        </th>
     </ng-container>



        
      <tr mat-header-row *matHeaderRowDef="['header-proveedor0','header-proveedor1','header-proveedor2','header-proveedor3']"></tr>
      <tr mat-header-row *matHeaderRowDef="columnas" class = "mat-header-row-formato"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas" style="line-height: 30px;"  ></tr>

      <tr class="sticky-footer" mat-footer-row *matFooterRowDef="columnas"></tr>


     
    </table>

  
  </div>


  <!-- BANDEJA -->

    <!-- <div class="mat-elevation-z2 mat-white-bg formulario-margin"> -->

    <!-- <div class="bandeja">

      <div class="container">
        <div class="row">
  
        
  
              <mat-form-field appearance="outline" style="width: 35%;">
                <mat-label class="select-label">Proveedor Ganador</mat-label>
                <mat-select formControlName="comboRubroFrmCtrl" >
                  <mat-option [value]="-1">--SELECCIONAR--</mat-option>
                  <mat-option *ngFor="let rub of listRubro" [value]="rub.idCodigo">{{rub.cidNombre}}</mat-option>
                </mat-select> 
              </mat-form-field>
  
              <mat-form-field appearance="outline" style="width: 20%; padding-left: 10px;">
                  <mat-label>FECHA COTIZACIÓN</mat-label>
                  <input matInput [matDatepicker]="picker1" readonly (click)="picker1.open()" formControlName="fechaCotizacionFrmCtrl">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
      
              <mat-form-field appearance="outline" style="width: 12%; padding-left: 10px;">
                <mat-label>PLAZO ENTREGA</mat-label>
                <input matInput formControlName="plazoEntregaFrmCtrl">
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 15%; padding-left: 10px;">
                <mat-label class="select-label">FORMA PAGO</mat-label>
                <mat-select formControlName="formaPagoFrmCtrl"  (selectionChange)="changeFormaPago($event.value)">
                  <mat-option [value]="-1">--SELECCIONAR--</mat-option>
                  <mat-option value="Efectivo">Efectivo</mat-option>
                  <mat-option value="Cheque">Cheque</mat-option>
                  <mat-option value="Tranferencia">Transferencia Bancaria</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field  *ngIf = "formaPagoEfectivo" formaPagoEfectivo appearance="outline" style="width: 15%; padding-left: 10px; top: 17px">
                <mat-label>SUSTENTO FORMA PAGO:</mat-label>
                <textarea matInput formControlName="uitFrmCtrl" 
              rows="2"></textarea>
              </mat-form-field>
  
         
  
            <div class="columna">
              <mat-form-field appearance="outline" style="width: 80%; padding-left: 10px;">
                <mat-label>Ingresar Sustento</mat-label>
                <textarea  rows="3" matInput formControlName="sustentoFrmCtrl" maxlength="300" value=""></textarea>
              </mat-form-field>
            
              
            </div>
  
        
  
        </div>
      </div>
  
    </div> -->
  <!--  <mat-form-field appearance="outline" style="margin-left: 10px;height: 50px; width: 12%;"> -->
<!-- <mat-card class="example-card">


  <mat-card-content>
    <div class="filtros">
        <div class="inputs" [formGroup]="filtrosForm" fxLayout.xl="row" fxLayout.lg="row">
     
        <mat-form-field appearance="outline">
          <mat-label class="select-label">Proveedor Ganador</mat-label>
          <mat-select formControlName="comboRubroFrmCtrl" >
            <mat-option [value]="-1">--SELECCIONAR--</mat-option>
            <mat-option *ngFor="let rub of listRubro" [value]="rub.idCodigo">{{rub.cidNombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>FECHA COTIZACIÓN</mat-label>
          <input matInput [matDatepicker]="picker1" readonly (click)="picker1.open()" formControlName="fechaCotizacionFrmCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>PLAZO ENTREGA</mat-label>
          <input matInput formControlName="plazoEntregaFrmCtrl">
        </mat-form-field>

        </div>

        <mat-form-field appearance="outline" style="width: 80%; padding-left: 10px;">
          <mat-label>Ingresar Sustento</mat-label>
          <textarea  rows="3" matInput formControlName="sustentoFrmCtrl" maxlength="300" value=""></textarea>
        </mat-form-field>

      </div>

  </mat-card-content>
  
</mat-card>  -->

<!-- </div> -->

<p-fieldset legend="Proveedor Ganador">
<div class="contenido-formulario" [formGroup]="filtrosForm">

<mat-grid-list cols="12" rowHeight="80px">

  
  <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 3, lg: 3, xl: 3}">

    <mat-form-field appearance="outline">
      <mat-label class="select-label">Proveedor Ganador</mat-label>
      <mat-select formControlName="comboRubroFrmCtrl" >
        <mat-option [value]="-1">--SELECCIONAR--</mat-option>
        <mat-option *ngFor="let rub of listRubro" [value]="rub.idCodigo">{{rub.cidNombre}}</mat-option>
      </mat-select> 
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 2, lg: 2, xl: 2}">
    <mat-form-field appearance="outline">
    <mat-label>Fecha Cotización</mat-label>
    <input matInput [matDatepicker]="picker1" readonly (click)="picker1.open()" formControlName="fechaCotizacionFrmCtrl">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 2, lg: 2, xl: 2}">

    <mat-form-field appearance="outline">
      <mat-label>Plazo Entrega</mat-label>
      <input matInput formControlName="plazoEntregaFrmCtrl">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [responsiveRows]="{xs: 6, sm: 2, md: 2, lg: 2, xl: 2}">
    <mat-form-field appearance="outline">
    <mat-label class="select-label">Forma Pago</mat-label>
    <mat-select formControlName="formaPagoFrmCtrl"  (selectionChange)="changeFormaPago($event.value)">
      <mat-option [value]="-1">--SELECCIONAR--</mat-option>
      <mat-option value="Efectivo">Efectivo</mat-option>
      <mat-option value="Cheque">Cheque</mat-option>
      <mat-option value="Tranferencia">Transferencia Bancaria</mat-option>
    </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [responsiveRows]="{xs: 6, sm: 3, md: 3, lg: 3, xl: 3}">

    <mat-form-field appearance="outline">
      <mat-label>Sustento Forma Pago Efectivo</mat-label>
      <textarea matInput formControlName="uitFrmCtrl" 
    rows="2"></textarea>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [responsiveRows]="{xs: 6, sm: 12, md: 12, lg: 12, xl: 12}">

    <mat-form-field appearance="outline">
      <mat-label>Ingresar sustento de elección de proveedor con mayor precio</mat-label>
      <textarea matInput formControlName="uitFrmCtrl" 
    rows="2"></textarea>
    </mat-form-field>
  </mat-grid-tile>

  
</mat-grid-list>
 
</div>
</p-fieldset>

    <div class="columna">
      <mat-toolbar>
        <mat-toolbar-row class=" mat-toolbar-fondo">
  
          <div class="center">
          <button mat-raised-button color="primary" style="margin-right: 10px;"  (click) = "guardarInsumoCotizacion()">
            <mat-icon>save</mat-icon> Guardar
          </button>
  
          <button mat-raised-button color="primary" style="margin-right: 10px;" (click) = "verCuadroComparativo()">
            <mat-icon>description</mat-icon> Finalizar
          </button>
        </div>
        </mat-toolbar-row>
      </mat-toolbar>
  
    </div>
 
  </div>
  </div>