@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

.table-container {
  max-height: 400px;
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTipoejecucion: (
      width: 12rem
    ),
    nroOrdencompra: (
      width: 8rem
    ),
    monto: (
      width: 6rem
    ),
    fecha: (
      width: 6rem
    )
  )
);

.mat-row:hover {
  cursor: pointer;
}
