:host {
    .mat-dialog-actions {
        padding-top: 25px;
        display: flex;
        align-content: center;
        place-content: center center;

        button {
            display: flex;
            flex: 1;
            align-content: center;
            place-content: center center;
        }
    }
}