@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    ffRb: (
      width: 18rem
    ),
    mNemonico: (
      width: 8rem
    ),
    clasificadorGasto: (
      width: 9rem
    ),
    descripcion: (
      width: 9rem
    ),
    monto: (
      width: 9rem
    ),
    opt: (
      width: 3rem
    )
  )
);

