<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  <span>REGISTRAR ENTIDAD</span>
  <button tabindex="-1" mat-icon-button (click)="dialogRef.close()">
    <mat-icon class="white-fg">clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->

<!-- FORMULARIO -->
<!--<div mat-dialog-content class="contenido-formulario" [formGroup]="form">

  <mat-form-field appearance="outline">
    <mat-label>ENTIDAD</mat-label>
    <input matInput [(ngModel)]="nombre">
  </mat-form-field>

  <mat-card (click)="adjuntar.click()"><mat-icon>add</mat-icon></mat-card>
</div>-->
<!-- FORMULARIO -->

<!--<input #adjuntar (change)="subirArchivos($event.target.files)" type="file">-->

<!-- ACCIONES -->
<!--<div mat-dialog-actions>

  <button
    color="primary"
    mat-raised-button
    (click)="registrar()">
      GUARDAR
  </button>

</div>-->
<!-- ACCIONES -->