<div class="page">
  <mat-toolbar class="mat-primary mat-dialog-header">
    <span>{{data.title}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <form [formGroup]="formularioGrp">
      <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
          <mat-form-field appearance="outline">
            <mat-label>Tipo documento</mat-label>
            <mat-select formControlName="tipoDocumento">
              <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento">
                {{tipoDocumento.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
          <mat-form-field appearance="outline">
            <mat-label>Nro documento</mat-label>
            <input matInput formControlName="nroDocumento" placeholder="Nro documento">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
          <mat-form-field appearance="outline">
            <mat-label>Nombre proveedor</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre proveedor">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
          <mat-form-field appearance="outline">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamento">
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                {{departamento.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="provincia">
              <mat-option *ngFor="let provincia of provincias" [value]="provincia">
                {{provincia.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
          <mat-form-field appearance="outline">
            <mat-label>Distrito</mat-label>
            <mat-select formControlName="distrito">
              <mat-option *ngFor="let distrito of distritos" [value]="distrito">
                {{distrito.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}" class="dialog-form-actions">
          <button mat-raised-button color="primary" type="button" (click)="buscar()">buscar</button>
          <button mat-raised-button type="button" (click)="limpiar()">Limpiar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <td mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
          <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="seleccionar(row)"></tr>
      </table>

      <div class="empty" *ngIf="dataSource === null">
        No existe datos para mostrar en la tabla
      </div>

      <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>

    </div>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Salir</button>
  </div>
</div>