<br>
<div class="formato_titulo">
  <label>CRONOGRAMA DE EJECUCIÓN - INICIAL</label>
  <button class="btn_alineacion_closed" tabindex="-1" mat-icon-button (click)="dialogRef.close()" matTooltip="Cerrar Ventana">
      <mat-icon class="btn_closed">clear</mat-icon>
  </button> 
</div>


<!--   <mat-card class="mat-tab-body-content"> -->


      <div style="padding: 10px;">

          <p-treeTable [value]="files" [scrollable]="true" [scrollHeight]="scrollHeightConfig" [style]="{width:'600px;'}">
              <ng-template pTemplate="header" let-columns>
             
                   <tr>       
                        <th class="caja-item"> </th>
                        <th class="caja-descripcion"> </th>
                       <!--  <th class="caja-unidad"> </th>
                        <th class="caja-large"> </th>
                        <th class="caja-large"> </th>
                        <th class="caja-large"> </th> -->

                        <th class="caja-presupuesto-colspan-cronograma" colspan="4" >PRESUPUESTO</th>
    
                        <th class="caja-meses-colspan" style="background-color: #49CEF4" colspan="3" >MES 1 </th>
                        <th class="caja-meses-colspan" style="background-color: #9CD7F1" colspan="3"> MES 2</th>
                        <th class="caja-meses-colspan" style="background-color: #49CEF4" colspan="3"> MES 3</th>
                        <th class="caja-meses-colspan" style="background-color: #9CD7F1" colspan="3"> MES 4</th>
    
                  </tr> 
                  <tr>
                      <th class="caja-item">ITEM</th>
                      <th class="caja-descripcion">DESCRIPCIÓN</th>
                      <th class="caja-unidad">UNID.</th>
                      <th class="caja-presupuesto">METRADO</th> 
                      <th class="caja-presupuesto">PRECIO</th>
                      <th class="caja-presupuesto">PARCIAL</th>

                      <th class="caja-large">METRADO</th>
                      <th class="caja-large">S/.</th>
                      <th class="caja-porcentaje">%</th>
                      <th class="caja-large">METRADO</th>
                      <th class="caja-large">S/.</th>
                      <th class="caja-porcentaje">%</th>
                      <th class="caja-large">METRADO</th>
                      <th class="caja-large">S/.</th>
                      <th class="caja-porcentaje">%</th>
                      <th class="caja-large">METRADO</th>
                      <th class="caja-large">S/.</th>
                      <th class="caja-porcentaje">%</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr style="font-size: 13px !important;">
                      <td class="caja-item">
                          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                          {{rowData.ITEM}}
                      </td>
                      <td class="caja-descripcion">{{rowData.DESCRIP_UND}}</td>
                      <td class="caja-unidad-2">{{rowData.TXT_UNIDAD}}</td>
                      <td class="caja-presupuesto">{{rowData.DEC_METRADO}}</td>
                      <td class="caja-presupuesto">{{rowData.DEC_PRECIO}}</td>
                      <td class="caja-presupuesto">{{rowData.DEC_PARCIAL}}</td>
                      
                      <td class="caja-large-aux-fijo">{{rowData.METRADO_1}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.MONEDA_1}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.PORCENTAJE_1}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.METRADO_2}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.MONEDA_2}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.PORCENTAJE_2}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.METRADO_3}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.MONEDA_3}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.PORCENTAJE_3}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.METRADO_4}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.MONEDA_4}}</td>
                      <td class="caja-large-aux-fijo">{{rowData.PORCENTAJE_4}}</td>               
                  </tr>
              </ng-template>
          </p-treeTable>

      </div>



<!--   </mat-card> -->

  <br>

