@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

.page-vehiculo {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomUnidad: (
      width: 12rem
    ),
    nomTambo: (
      width: 12rem
    ),
    codPatrimonio: (
      width: 7rem
    ),
    denominacion: (
      width: 9rem
    ),
    marca: (
      width: 6rem
    ),
    modelo: (
      width: 6rem
    ),
    tipo: (
      width: 7rem
    ),
    serie: (
      width: 11rem
    ),
    color: (
      width: 6rem
    ),
    estado: (
      width: 6rem
    ),
    opt: (
      width: 2.5rem
    )
  )
);
