:host {
  .cabecera {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep mat-tab-body {
    margin-top: 20px;
  }
  
  .contenido-formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;

    @media(max-width: 990px) {
      .columna {
        flex-direction: column !important;

        mat-form-field {
          margin-right: 0 !important;
        }
      }
    }

    .columna {
      display: flex;
      flex-direction: row;

      mat-form-field {
        flex: 1;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .auditoria {
      font-size: 11px;
      font-weight: 500;
      font-style: oblique;
    }
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 20px;
  }
}