@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nombre: (
      width: 12rem
    ),
    nomTipoDocumento: (
      width: 8rem
    ),
    nroDocumento: (
      width: 9rem
    ),
    fecha: (
      width: 9rem
    ),
    // nomEstado: (
    //   width: 7rem
    // ),
    opt: (
      width: 2.5rem
    )
  )
);

.page {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}
