<div class="page">
  <mat-toolbar class="mat-primary mat-dialog-header">
    <span>{{data.title}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- (selectionChange)="stepChanged($event, stepper)"> -->
      <mat-step [stepControl]="formularioGrp">
        <ng-template matStepLabel>Datos generales</ng-template>
        <div>
          <form [formGroup]="formularioGrp">
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Nro Orden Servicio</mat-label>
                  <input formControlName="nroOrdenServicio" matInput type="text" placeholder="Nro Orden Servicio">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Nro exp. SIAF</mat-label>
                  <input formControlName="nroExpSIAF" matInput type="text" placeholder="Nro exp. SIAF">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="fecha" [matDatepicker]="picker" placeholder="Fecha">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
                <mat-form-field appearance="outline">
                  <mat-label>Concepto</mat-label>
                  <input formControlName="concepto" matInput type="text" placeholder="Concepto">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Monto</mat-label>
                  <input formControlName="monto" matInput type="number" placeholder="Monto">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Proveedor</mat-label>
                  <input formControlName="proveedor" matInput type="text" placeholder="Proveedor">
                  <button mat-icon-button matTooltip="Buscar proveedor" type="button" class="btn-icon-input"
                    color="primary" (click)="buscarProveedor($event)">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Archivo orden servicio</mat-label>
                  <input matInput formControlName="docOrden" type="text" placeholder="Archivo orden servicio">
                  <button mat-icon-button matTooltip="Buscar O.C." type="button" class="btn-icon-input" color="primary"
                    (click)="buscarOrden($event)">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <input id="fileInput" class="none" type="file" accept="application/pdf"
                    (change)="cargarOrden($event)">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Nro cuadro adquisicion</mat-label>
                  <input formControlName="nroCuadroAdquisicion" matInput type="text"
                    placeholder="Nro cuadro adquisicion">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo proceso</mat-label>
                  <input formControlName="tipoProceso" matInput type="text" placeholder="Tipo proceso">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Nro contrato</mat-label>
                  <input formControlName="nroContrato" matInput type="text" placeholder="Nro contrato">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Moneda</mat-label>
                  <mat-select formControlName="moneda">
                    <mat-option *ngFor="let moneda of monedas" [value]="moneda">
                      {{moneda.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>T/C</mat-label>
                  <input formControlName="tc" matInput type="number" placeholder="T/C">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </div>
        <div align="center" class="button-separate">
          <button mat-raised-button type="button" (click)="salir()">Salir</button>
          <button mat-raised-button type="button" (click)="guardar()">Guardar</button>
          <button mat-raised-button type="button" (click)="siguiente(stepper)">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="true">
        <ng-template matStepLabel>Detalle orden servicio</ng-template>
        <div>
          <form [formGroup]="formularioGrp2">
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Codigo</mat-label>
                  <input formControlName="codigo" matInput type="number" placeholder="Codigo">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Unidad medida</mat-label>
                  <input formControlName="unidadMedida" matInput type="text" placeholder="Unidad medida" [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Precio total</mat-label>
                  <input formControlName="precioTotal" matInput type="number" placeholder="Precio total">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
                <mat-form-field appearance="outline">
                  <mat-label>Descripcion</mat-label>
                  <input formControlName="descripcion" matInput type="text" placeholder="Descripcion" [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}" class="dialog-form-actions">
                <button mat-raised-button color="primary" type="button" (click)="guardarDetalleOC()">Agregar</button>
                <button mat-raised-button type="button" (click)="limpiar()">Limpiar</button>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource2" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
                <td mat-cell *matCellDef="let row; let i=index"> {{ i+1 }} </td>
              </ng-container>

              <ng-container *ngFor="let column of columnsGrilla2" [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
                <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
              </ng-container>

              <ng-container matColumnDef="opt" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>OPT.</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button type="button" matTooltip="Quitar detalle O.C."
                    (click)="quitarDetalleOC(element)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>

            <div class="empty" *ngIf="dataSource2 === null">
              No existe datos para mostrar en la tabla
            </div>

            <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div align="center" class="button-separate">
          <button mat-raised-button type="button" (click)="salir()">Salir</button>
          <button mat-raised-button type="button" (click)="guardar()">Guardar</button>
          <button mat-raised-button type="button" (click)="anterior(stepper)">Anterior</button>
          <button mat-raised-button type="button" (click)="siguiente(stepper)">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="true">
        <ng-template matStepLabel>Afectacion presupuestal</ng-template>
        <div>
          <form [formGroup]="formularioGrp3">
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Meta/Mnemonico</mat-label>
                  <input formControlName="metaMnemonico" matInput type="text" placeholder="Meta/Mnemonico"
                    [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Cadena funcional</mat-label>
                  <input formControlName="cadenaFuncional" matInput type="text" placeholder="Cadena funcional"
                    [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>FF/Rb</mat-label>
                  <input formControlName="ffRb" matInput type="text" placeholder="FF/Rb" [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Clasificador gasto</mat-label>
                  <input formControlName="clasificadorGasto" matInput type="text" placeholder="Clasificador gasto"
                    [appUpperCase]>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}">
                <mat-form-field appearance="outline">
                  <mat-label>Monto</mat-label>
                  <input formControlName="monto" matInput type="number" placeholder="Monto">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}" class="dialog-form-actions">
                <button mat-raised-button color="primary" type="button"
                  (click)="guardarAfectacionPres()">Agregar</button>
                <button mat-raised-button type="button" (click)="limpiar()">Limpiar</button>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource3" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
                <td mat-cell *matCellDef="let row; let i=index"> {{ i+1 }} </td>
              </ng-container>

              <ng-container *ngFor="let column of columnsGrilla3" [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
                <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
              </ng-container>

              <ng-container matColumnDef="opt" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>OPT.</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="Quitar afectacion presupuestal"
                    (click)="quitarAfectacionPres(element)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>

            <div class="empty" *ngIf="dataSource3 === null">
              No existe datos para mostrar en la tabla
            </div>

            <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div align="center" class="button-separate">
          <button mat-raised-button type="button" (click)="salir()">Salir</button>
          <button mat-raised-button type="button" (click)="guardar()">Guardar</button>
          <button mat-raised-button type="button" (click)="anterior(stepper)">Anterior</button>
          <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>