@import "../src/@shared/scss/style_ua/views/table";
@import "../src/@shared/scss/style_ua";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTambo: (
      width: 12rem
    ),
    nomTipoMantenimiento: (
      width: 8rem
    ),
    nomTipoVehiculo: (
      width: 12rem
    ),
    nomProveedor: (
      width: 12rem
    ),
    monto: (
      width: 6rem
    ),
    fechaMant: (
      width: 10rem
    ),
    kilometrajeInicio: (
      width: 10rem
    ),
    opt: (
      width: 5rem
    )
  )
);

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTambo: (
      width: 12rem
    ),
    nomTipoMantenimiento: (
      width: 8rem
    ),
    nomTipoVehiculo: (
      width: 12rem
    ),
    nomProveedor: (
      width: 12rem
    ),
    monto: (
      width: 6rem
    ),
    fecha: (
      width: 6rem
    ),
    opt: (
      width: 2.5rem
    )
  )
);

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    ffRb: (
      width: 4rem
    ),
    metaNmonico: (
      width: 6rem
    ),
    clasificadorGasto: (
      width: 7rem
    ),
    descripcion: (
      width: 12rem
    ),
    monto: (
      width: 6rem
    )
  )
);

.table-container {
  max-height: 400px;
}

.mat-horizontal-content-container {
  padding-bottom: 0px !important;
}
